@font-face {
  font-family: Calibri-Light;
  font-weight: 300;
  src: url('@/shared/assets/fonts/Calibri/Calibri-Light.ttf');
}

@font-face {
  font-family: Calibri-Bold;
  font-weight: 900;
  src: url('@/shared/assets/fonts/Calibri/Calibri-Bold.ttf');
}
