.TemplateForTests {
  &__title {
    font-family: var(--font-family-bold);
    font-size: 30px;
    line-height: 100%;
    color: var(--color-black);
    text-transform: lowercase;
  }

  &__check {
    margin: 50px 0;
    align-self: flex-end;
  }

  &__totalText {
    font-family: var(--font-family-bold);
    font-size: 40px;
    line-height: 150%;
    color: var(--color-black);
  }

  &__resultsWrapper {
    position: absolute;
    right: 0;
  }
}
